@model IEnumerable<ClassSchedulingSystem.Models.Student>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h4>Login</h4>

<form method="post">
    Student ID: <input type="text" name="id" />
    Password:   <input type="password" name="pass" />
    <input type="submit"value="Login" />
</form>

